language: python

env:
  global:
    - secure: "GH+DI7f9QenVtTZFEfn4B8wO5JJK65PkHDg8vY/npdW51y5PPAynTEf/++D0H4tjwqMuXwB5lrbWfYeskf29Xuq5MT5+FixajZFcbhscoSM9CGABeph2s2+Hm4kSIKmjnTlQLgJHVbwypnlU/W4sfMCbqeOmv2fYXCCt0GhtnWc="
    - secure: "du3PQYEiDPw55TRzhk+Ocv1Gx1DuusbCSMVSQmccAoyOr7qxDqm+1jh2v13RmajNK7FnlKyC4xSTySVpSl70By2uhZlJT43EpenqIcpQWqUAm3nVr6etszdb1A6TfEGQrxZ8Y2j9KD6QAMNovsMZbl0bcDJDxTeFA4P/yU9UZcI="


matrix:
  include:
    - python: '2.7'
      env:
        - SO_DISABLE_MOCKS: "1"
        - SO_S3_URL: "s3://smart-open-py27-benchmark"
        - SO_S3_RESULT_URL: "s3://smart-open-py27-benchmark-results"

    - python: '3.5'

    - python: '3.6'
      env:
        - SO_DISABLE_MOCKS: "1"
        - SO_S3_URL: "s3://smart-open-py36-benchmark"
        - SO_S3_RESULT_URL: "s3://smart-open-py36-benchmark-results"

    - python: '3.7'
      env:
        - SO_DISABLE_MOCKS: "1"
        - SO_S3_URL: "s3://smart-open-py37-benchmark"
        - SO_S3_RESULT_URL: "s3://smart-open-py37-benchmark-results"
        - BOTO_CONFIG: "/dev/null"
      dist: xenial


install:
  - pip install --upgrade setuptools
  - pip install .[test]
  - pip freeze


script:
  - if [[ ${TRAVIS_SECURE_ENV_VARS} = false ]]; then
      echo "DISABLE INTEGRATION TESTING FOR S3";
      unset SO_DISABLE_MOCKS;
      unset SO_S3_URL;
      unset SO_S3_RESULT_URL;
    fi
  - python setup.py test
  - export SO_S3_URL=$SO_S3_URL/$(python -c 'from uuid import uuid4;print(uuid4())')
  - pip install pytest
  - py.test integration-tests/test_http.py
  - if [[ ${SO_DISABLE_MOCKS} = "1" ]]; then
      pip install pytest_benchmark awscli;
      set -e;
      py.test integration-tests/test_s3.py --benchmark-save=`git rev-parse HEAD`;
      set +e;
      aws s3 cp .benchmarks/*/*.json ${SO_S3_RESULT_URL};
      aws s3 rm --recursive $SO_S3_URL;
    fi
  - pip install numpy
  - py.test integration-tests/test_207.py


cache:
  directories:
  - "$HOME/.cache/pip"
  - "$HOME/.pyenv"
