environment:
  global:
    TOX_PARALLEL_NO_SPINNER: 1

  matrix:
  - TOXENV: "check_keys,py27-test,py27-integration"
  - TOXENV: "check_keys,py35-test,py35-integration"
  - TOXENV: "check_keys,py36-test,py36-integration"
  - TOXENV: "check_keys,py37-test,py37-integration"


init:
  # If there is a newer build queued for the same PR, cancel this one.
  # The AppVeyor 'rollout builds' option is supposed to serve the same
  # purpose but it is problematic because it tends to cancel builds pushed
  # directly to master instead of just PR builds (or the converse).
  # credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
        https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
        Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
          Write-Host "There are newer queued builds for this pull request, skipping build."
          Exit-AppveyorBuild
        }

build: off

install:
- pip install tox

test_script:
  - tox -vv
