name: Test
on: [push, pull_request]
jobs:
  build:
    env:
      BOTO_CONFIG: "/dev/null"
      SO_BUCKET: smart-open

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: '3.7'
            toxenv: "check_keys,py37-doctest,enable_moto_server,py37-test,py37-benchmark,py37-integration,disable_moto_server"
            enable_moto_server: "1"

          - python-version: '3.8'
            toxenv: "check_keys,py38-doctest,test_coverage,py38-integration"
            coveralls: true

          - python-version: '3.9'
            toxenv: "check_keys,py39-doctest,test_coverage,py39-integration"
            coveralls: true

        # - python-version: '3.10'
        #   toxenv: "check_keys,py310-doctest,py310-test,py310-benchmark,py310-integration"
        #   result_key: benchmark-results-py310

          - python-version: '3.8'
            toxenv: "flake8"

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update pip
        run: python -m pip install -U pip

      - name: Install tox
        run: python -m pip install tox

      - name: Test using Tox
        env:
          SO_RESULT_KEY: ${{ matrix.result_key }}
          SO_ENABLE_MOTO_SERVER: ${{ matrix.enable_moto_server }}
          TOXENV: ${{ matrix.toxenv }}
        run: tox

      #
      # The test_coverage environment in tox.ini generates coverage data and
      # saves it to disk.  This step uploads that data.  We do it
      # separately from the tox env because the upload can fail for various
      # reasons (e.g. https://github.com/lemurheavy/coveralls-public/issues/1392)
      # and we don't want it to break the build.
      #
      # Looks like there's a github action for this
      # (https://github.com/coverallsapp/github-action/issues/30) but it does
      # not work with pytest output.
      #
      - name: Upload code coverage to coveralls.io
        if: ${{ matrix.coveralls }}
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          pip install coveralls
          coveralls
